// Global Variables
$bg-color: #f96e2f;
$bg-darker-color: #e26233;
$fg-color: #fff;
$font-color: #000;
$font-color-darker: desaturate(darken($bg-color, 30%), 40%);
$font-color-active: $fg-color;

$control-bg-color: darken($fg-color, 7%);
$control-bg-hover-color: $fg-color;
$control-bg-active-color: transparentize($fg-color, .8);
$control-bg-inactive-color: transparentize($font-color, .85);
$control-bg-inactive-hover-color: darken($control-bg-inactive-color, .9);
$control-font-color: darken($fg-color, 15%);
$control-font-hover-color: $fg-color;
$control-font-active-color: $fg-color;
$control-border-radius: 7px;


$container-max-width: 480px;

// Breakpoints

$break-xs: 320px; // 320px;
$break-sm: 768px; // 768px
$break-md: 992px; // 1024px
$break-lg: 1260px; // 1200px